* {
    box-sizing: border-box;
    max-width: auto;
    max-height: auto;
}

.heading {
    background-color: rgb(205, 220, 57);
    font-size: xx-large;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    height: 50px;
}

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
    gap: 5rem;
}

.head-sec1 {
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
}

.content-sec1>p {
    text-align: center;
    font-weight: 500;
}

.btn-sec1 {
    background-color: rgb(223, 238, 162);
    font-size: large;
    font-weight: 700;
    width: 18rem;
    text-align: center;
    margin-left: 3rem;
    border: rgb(223, 238, 162);
    height: 3rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(192, 14, 97);
}

.img-sec1 {
    width: 20rem;
    height: 30rem;
}

.second-div {
    background-color: rgb(205, 220, 57);
    width: 60rem;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 65px;
    margin: auto;
    margin-top: 32px;
    flex-wrap: wrap;
}

.offer-sec2 {
    font-size: large;
    font-weight: 900;
    color: #ffff;
}

.today-price {
    display: flex;
    width: 15rem;
    height: 4rem;
    background-color: #ffff;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 700;
}

.buy-now {
    display: flex;
    width: 12rem;
    height: 4rem;
    border-radius: 50px;
    color: #ffff;
    border: 5px solid white;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 900;

}

.third-sec {
    background-color: rgb(192, 14, 97);
    height: 9rem;
    margin-top: 25px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;

}

.exclusive {
    text-align: center;
    color: #ffff;
    font-size: xx-large;
    font-weight: 800;
}

.houurs-sec3 {
    background-color: #ffff;
    height: 3rem;
    width: 5rem;
    font-size: medium;
    font-weight: 500;
    text-align: center;
}

.min {
    background-color: #ffff;
    height: 3rem;
    width: 5rem;
    font-size: medium;
    font-weight: 500;
    text-align: center;
}

.sec {
    background-color: #ffff;
    height: 3rem;
    width: 5rem;
    font-size: medium;
    font-weight: 500;
    text-align: center;
}

.fourth-sec {
    background-color: rgba(225, 236, 171, 0.855);
    margin: auto;

    height: 30rem;

}

.head-sec4 {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 6rem;
    width: 65rem;
    height: 8rem;

}

.card-sec4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.box-sec4 {
    background-color: #ffff;
    width: 25rem;
    border: 1px #ffff;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(192, 14, 97);
    height: 4rem;
    font-size: xx-large;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}

.head-sec5 {
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

.cards-sec5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: auto;
    padding-top: 2rem;

}

.card1-sec5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 233, 176);
    border-radius: 25px;
    width: 18rem;
}

.card2-sec5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 232, 255);
    border-radius: 25px;
    width: 18rem;
}

.card3-sec5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 222, 233);
    border-radius: 25px;
    width: 18rem;
}

.card4-sec5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 168, 190);
    border-radius: 25px;
    width: 18rem;
}

.card5-sec5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 202, 218);
    border-radius: 25px;
    width: 18rem;
}

.card6-sec5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(174, 242, 240);
    border-radius: 25px;
    width: 18rem;
}

.btn-sec5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 238, 162);
    width: 11rem;
    height: 2rem;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(192, 14, 97);
    font-size: medium;
    font-weight: 600;

}

.head-card-sec5 {
    text-align: center;
    font-size: larger;
    font-weight: 900;
}

.six-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(223, 238, 162);
    height: 10rem;
    margin-top: 30px;
    flex-wrap: wrap;
}

.head-sec6 {
    text-align: center;
    font-weight: 700;
}

p {
    text-align: center;
    font-weight: 500;
}

.btn-sec6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 221, 187);
    width: 20rem;
    height: 2rem;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(192, 14, 97);
    font-size: medium;
    font-weight: 800;
    cursor: pointer;

}

.seven-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.img-sec7 {
    height: 15rem;
}

.sec7-head {
    text-align: center;
    font-size: large;
    font-weight: 700;
}

.eight-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 14, 97);

    height: 6rem;
    margin-top: 20px;
}

.head-sec7 {
    color: #ffff;
    font-size: 43px;
    font-weight: 900;

}

.nine-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.img1-sec9{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.img-sec9{
    width: 20rem;
    height: 20rem;
}
.head-sec9{
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
}
.eleven-sec{
    background-color: rgb(247, 213, 44);
    width: 60rem;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 65px;
    margin: auto;
    margin-top: 32px;
    flex-wrap: no-wrap;
}

.ten-sec{
    background-color: rgb(205, 220, 57);
    height: 9rem;
    margin-top: 25px;
}

.sec12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sec12-img{
    width: 15rem;
    height: 15rem;
}
.bonus{
    margin-top:30px;
    font-size: large;
    font-weight: 800;
}
.pra-sec12{
    text-align: center;
    width: 55rem;
    font-weight: 700;
}
.btn-sec12{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 900;
    background-color:rgb(192, 14, 97) ;
    color: #ffff;
    width: 22rem;
    height: 5rem;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    position: static;
}